H1{font: 24pt "Poor Richard"; color: #ffffff}

P{font: 14pt "Poor Richard"; color: #ffffff}

body{font: 14pt "Poor Richard"; color: #ffffff}

html{scrollbar-face-color:#000000;
scrollbar-arrow-color:#000000;
scrollbar-track-color:#000000}

A:link{color: white;text-decoration:none;font-weight:bold}

A:visited{color: orange;text-decoration:none;font-weight:bold}

A:active{color: red;text-decoration:none;font-weight:bold}

td{color: ffffff; font: 14pt "Poor Richard"}

tr{text-align:center}